<!-- conecção entre os dois arquivos -->

{% extends 'produtos/base.html' %}
{% block conteudo %}

<form action="{% url 'lista_produtos' %}" method="post">  <!--ele vai procurar lista produtos/ post para ele postar os produtos-->
  {% csrf_token %} <!--significa que ele autoriza o token-->
  <div class="container">
    <h2 class="mb-5 mt-5">Cadastre um Produto</h2>
     Nome: <input class ="form-control-sm" type = "text" name="nome">
     Descrição: <input class ="form-control-sm" type=text name="descricao">
     Preço: <input class="form-control-sm" type="decimal" name="preco">
     Validade <input class="form-control-sm" type="date" name="validade">
     <button class="form-control-sm">Salvar</button>
  </div>



</form>

{% endblock %}